{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/styles.css"%}">
    <title>Category List</title>
</head>
<body>
  <header>
    <nav>
        <ul class="main-nav">
            {% if user.is_authenticated %}
            <li><a href= {% url "home" %}>Main</a></li>
            <li><a href= {% url "create_receipt" %}>Create Receipt</a></li>
            <li><a href= {% url "category_list" %}>Category List</a></li>
            <li><a href= {% url "account_list" %}>Account List</a></li>
            <li><a href= {% url "create_category" %}>Create Category</a></li>
            <li><a href= {% url "create_account" %}>Create Account</a></li>
            <li><a href= {% url "logout" %}>Logout</a></li>
            {% else %}
            <li><a href= {% url "signup" %}>Signup</a></li>
            <li><a href= {% url "login" %}>Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<h1>My Categories</h1>
    <main>
        <table class="receipt-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of receipts</th>
            </tr>
          </thead>
          <tbody>
            {% for category in categories %}
              <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.receipts.all|length }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </main>


</body>
</html>
