{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/styles.css"%}">
    <title>Signup</title>
</head>
<body>
    <header>
        <nav>
            <ul class="logout-nav">
                {% if user.is_authenticated %}
                <li><a href= {% url "logout" %}>Logout</a></li>
                <li><a href= {% url "home" %}>Main</a></li>
                <li><a href= {% url "create_receipt" %}>Create</a></li>
                <li><a href= {% url "category_list" %}>Category List</a></li>
                <li><a href= {% url "account_list" %}>Account List</a></li>
                <li><a href= {% url "create_category" %}>Create Category</a></li>
                <li><a href= {% url "create_account" %}>Create Account</a></li>
                {% else %}
                <li><a href= {% url "signup" %}>Signup</a></li>
                <li><a href= {% url "login" %}>Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    </header>
    <main>
        <div class="create-form">
            <h1>Signup</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Signup</button>
            </form>
        </div>
    </main>

</body>
</html>
