{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/styles.css"%}">
    <title>My Receipts</title>
</head>
<body>
        <header>
            <nav>
                <ul class="main-nav">
                    {% if user.is_authenticated %}
                    <li><a href= {% url "home" %}>Main</a></li>
                    <li><a href= {% url "create_receipt" %}>Create Receipt</a></li>
                    <li><a href= {% url "category_list" %}>Category List</a></li>
                    <li><a href= {% url "account_list" %}>Account List</a></li>
                    <li><a href= {% url "create_category" %}>Create Category</a></li>
                    <li><a href= {% url "create_account" %}>Create Account</a></li>
                    <li><a href= {% url "logout" %}>Logout</a></li>
                    {% else %}
                    <li><a href= {% url "signup" %}>Signup</a></li>
                    <li><a href= {% url "login" %}>Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <h1>My Receipts</h1>
        <main>
            <table class="receipt-table">
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
                {% for item in receipt %}
                    <tr>
                        <td>{{ item.vendor }}</td>
                        <td>{{ item.total }}</td>
                        <td>{{ item.tax }}</td>
                        <td>{{ item.date|date:"m/d/y" }}</td>
                        <td>{{ item.category.name }}</td>
                        <td>{{ item.account.name }}</td>
                </tr>
                {% endfor %}
            </table>
    </main>
</body>
</html>
