a {
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0px;
}

.main-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: darkslategray;
    margin: 0px;
    padding: 20px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 15px;
}

.receipt-table {
    border: 1px solid black;
    width: 100%;
    grid-column: 2/3;

}

td {
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

}

th {
    background-color: lightgray;
    border: 1px solid black;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

}

h1 {
    text-align: center;
}

body {
    margin: 0px;
    padding: 0px;
}

.create-form {
    grid-column: 2/3;
}

form {
    grid-column: 2/3;
    text-align: center;
}

.logout-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    gap: 1.5rem;
    background-color: darkslategray;
    margin: 0px;
    padding: 20px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid black;
    box-shadow: 2px 2px 25px;
}
